/* color pallete
03224C
042B62
021127
010914
720910 */

body{
    background-color: #010914 ;
    
}
.container_main{
    display:flex;
}
.disneyfont {
    color: white;
    margin-top: 10px;
}

/*  ----- navigation ----- */
.logo{
    height: auto;
    width: 130px;
}


.navbar{
    flex-basis: 10%;
    text-align: justify;
}

nav{
    position:fixed;
    left: -100px;
    top:100px;
    transition: 0.3s;
    width: 150px;
    background-color:#03224C ;
    border-radius: 5px;
    opacity: 0.3;
    padding-left: 8px;
}
nav:hover{
    left: 5px;
    opacity:0.7;
}

.textnav{
    list-style: none;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 20px;
    text-decoration: none;
    
}
.textnav:hover{
    background-color: #720910;
    border-radius: 10px;
    padding: 10px;
}

.logopos{
    position: fixed;
}


/* ----- content ----- */


.content{
    flex-basis: 90%;
    width: 100%;
    

}


.grid{
    display:grid;
    height:100%;
    width:100%;
    grid-template-rows: 60% (0, repeat(5,1fr));
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
}



/*  ----- Main ----- */


.img1{
    grid-column-start: 1;
    grid-column-end: 7;
  
}

.banner{
    width: 100%;
    height: 100%;
    border-radius:10px;
    opacity: 0.8;
}

.cat{
    color: white;
    grid-column-start: 1;
    grid-column-end: 7;
}

.movies{
    height: 200px;
    width: 150px;
    font-family: 'Josefin Sans';
    border-radius: 10px;
}
.img{
    height: 200px;
    width: 150px;
    border-radius: 10px;
    transition: transform .3s;
}
.img:hover{
    transform: scale(1.1); 
}
.img:active {
    opacity: 0.4;
}

