body{
    background-color: #010914;
    margin: 0;
}

.text1{
    font-family: 'Josefin Sans';
    font-size: 18px;
    color: white;
    text-decoration: none;
}
.text2{
    font-family: 'Josefin Sans';
    font-size: 28px;
    color: white;
    font-weight: 800;
    text-decoration: none;
    text-align: center;
}

/* --- flexbox --- */

.main{
    display: flex;
    flex-flow: column;
    
    background-image: url(images/bg2.jpg);
    
    
}
.container_header{
    flex-basis: 10%;
    padding-top: 20px;
    padding-left: 10px;
}
.container_main{
    flex-basis: 90%;
    align-self: center;
    margin-top: 250px;
    padding-bottom:200px;
}


/* button style */

.button1{
    background-color: #104ac7;
    padding:15px 10px;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    
    transition: transform .1s;
}

.button1:hover{
    transform: scale(1.1);
}

.button2{
    background-color: #104ac7;
    padding: 15px 80px;
    border-radius: 8px;
    border-style: none;
    
    transition: transform .7s;
}

.button2:hover{
    transform: scale(1.1); 
}

.align_button{
    text-align: center;
}

/* ---------- container 3 ---------- */
.container3{
    display: flex;
    background-color: #021127;
    border-top: #042B62 solid 2px;
    border-bottom: #042B62 solid 2px;
}
.icon{
    height: 50px;
    width: 50px;
}
.sec1{
    flex-basis: 30%;
    text-align: center;
    padding: 80px 25px;
}
.sec2{
    flex-basis: 40%;
    text-align: center;
    padding: 80px 25px;
}
.sec3{
    flex-basis: 30%;
    text-align: center;
    padding: 80px 25px;
}
.text3{
    font-family: 'Josefin Sans';
    font-size: 30px;
    font: weight 400px;
    color: white;
}
.text4{
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: 200;
    color: whitesmoke;
}