/* color pallete
03224C
042B62
021127
010914
720910 */

body{
    background-color: #010914 ;
    
}
.container_main{
    display:flex;
}
.disneyfont {
    color: white;
    margin-top: 10px;
}

/*  ----- navigation ----- */
.logo{
    height: auto;
    width: 130px;
}


.navbar{
    flex-basis: 10%;
    text-align: justify;
}

.textnav{
    list-style: none;
    color: white;
    font-family: 'Josefin Sans';
    font-size: 20px;
    text-decoration: none;
    
}
.textnav:hover{
    background-color: #720910;
    border-radius: 10px;
    padding: 10px;
}


/* ----- content styling ----- */


.content{
    flex-basis: 90%;
    width: 100%;
    

}
.grid{
    display:grid;
    

    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;
}


/* ----- content styling ----- */


.img1{
    background-image: lightblue;

    grid-column-start: 1;
    grid-column-end: 7;
}
.wakanda{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.wakanda:hover{
    opacity: 0.6;
}
span{
    font-family: 'Josefin Sans';
    color: white;
}
.category{
    background-color: #021127;
    height: 100px;
    width: 200px;
    font-family: 'Josefin Sans';
    border-radius: 10px;
}


.gif{
    opacity: 0.50;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    transition: transform .2s;
}
.gif_div  {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 40px;
    justify-content: space-between;
}
.gif:hover{
    opacity: 1;
    transform: scale(1.2); 
    
}

/*  ----- disney html ----- */
.movies{
    background-color: #021127;
    height: 200px;
    width: 150px;
    font-family: 'Josefin Sans';
    border-radius: 10px;
}
.img{
    height: 200px;
    width: 150px;
    border-radius: 10px;
    transition: transform .2s;
    margin-top: 30px;
}
.img:hover{
    transform: scale(1.1); 
}
.img:active {
    opacity: 0.4;
}
.waltdisney{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 0.7;
}