* {
    font-family: 'Josefin Sans';
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.images {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 20px;
    height: 100%;
    width: 100%;
       
}

.img {
    height: 100%;
    width: 100%;
    border-radius: 20px;

}
a {
    height: 100%;
    width: 100%;
}
.bg {
    background-color: black;
    padding-left: 150px;
    padding-right: 20px;
    padding-top: 20px;
}
.popular {
    color: rgb(233, 233, 233);
    padding-top: 20px;
    background-color: black;
    margin: 0;
}
@media (max-width:800px) {
   .images {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
   }
   .bg {
    padding-left: 20px;
   }
}